body {
    background-color: #EFDAE8 !important;
}

.navbar {
    font-family: 'Noto Serif';
    font-size: 20px;
    line-height: 140%;
    color: #502D5C;
}

.hidden {
    display: none;
}

@media (max-width: 1655px) {
    .container-fluid {
        margin: 0 auto;
        text-align: center;
    }
}

main h2 {
    font-family: 'Pacifico';
    font-size: 32px;
    line-height: 140%;
    color: #502D5C;
}

main h3 {
    font-family: 'Pacifico';
    font-size: 24px;
    line-height: 140%;
    color: #502D5C;
}


