body {
    background-color: #EFDAE8 !important;
}

.navbar {
    font-family: 'Noto Serif';
    font-size: 20px;
    line-height: 140%;
    color: #502D5C;
}

main h1 {
    font-family: 'Pacifico';
    font-size: 72px;
    line-height: 145%;
    letter-spacing: 2px;
    color: #502D5C;
}

main h2 {
    font-family: 'Pacifico';
    font-size: 32px;
    line-height: 140%;
    color: #502D5C;
}

.h-text {
    text-align: center;
    font-family: 'Pacifico';
    font-size: 32px;
    line-height: 140%;
    color: #502D5C;
}

.text-p {
    font-family: 'Noto Serif';
    font-size: 20px;
    line-height: 140%;
    color: #502D5C;
    word-wrap: break-word;
}

.hidden {
    display: none;
}

.calltoact {
    font-family: 'Noto Serif';
    font-size: 20px;
    background-color: #502D5C;
    width: fit-content; 
    border-radius: 5px;
}

.btn {
   color: #BBBABC !important;
}

main h3 {
    font-family: 'Pacifico';
    font-size: 24px;
    line-height: 140%;
    color: #502D5C;
}

.buyC {
    width: 60%;
    text-align: center;
}
